- name: Update and upgrade apt packages
  apt:
    update_cache: yes
    upgrade: yes
- name: Ensure Apache is absent (Debian/Ubuntu)
  apt:
    name: apache2
    state: absent
    purge: yes
- name: ensure nginx is at the latest version
  apt: name=nginx state=latest
- name: start nginx
  service:
      name: nginx
      state: started
