# This playbook deploys the solid-pancake app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "solid-pancake",
        docker_env: {
            PG_DATABASE: "{{ pg_database }}",
            PG_HOST: "{{ pg_host }}",
            PG_PORT: "{{ pg_port | int }}",
            PG_PASSWORD: "{{ pg_password }}",
            PG_USERNAME: "{{ pg_username }}",
            PORT: "{{ external_port | int }}",
            SOLID_PANCAKE_URL: "https://{{ domain }}",
            SERVICE: "solid-pancake",
            ENV: "{{ env }}",
        },
        docker_image: "{{ docker_image }}",
        registry: "{{ registry }}",
        registry_username: "{{ registry_username }}",
        registry_password: "{{ registry_password }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port }}",
        domain: "{{ domain }}",
        cerbot_email: "{{ certbot_email }}",
      }
