# This playbook deploys the auth app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "auth",
        docker_env: {
            SERVICE: "auth",
            ENV: "{{ env }}",
            PORT: "{{ external_port | string }}",
            FB_APP_CLIENT_ID: "{{ fb_app_client_id | string }}",
            FB_APP_CLIENT_SECRET: "{{ fb_app_client_secret }}",
            PG_DATABASE: "{{ pg_database }}",
            PG_HOST: "{{ pg_host }}",
            PG_PORT: "{{ pg_port | string }}",
            PG_PASSWORD: "{{ pg_password }}",
            PG_USERNAME: "{{ pg_username }}",
            SECRET_KEY: "{{ secret_key }}",
            SMTP_TRANSPORT: "{{ smtp_transport }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
