# This playbook deploys the matches app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "matches-{{ realm }}",
        docker_env: {
            SERVICE: "matches:{{ realm }}",
            ENV: "{{ env }}",
            PORT: "{{ external_port | string }}", # The port where to serve the app
            PURGE_GAMES_AT_STARTUP: "false",
            MONGO_HOST: "{{ mongo_host }}", # MongoDB database host
            MONGO_DB: "arena", # MongoDB database
            PRIVATE_KEY: "{{ private_key }}", # Private key to validate protected incoming requests
            AUTH_URL: "https://{{ auth_domain }}",
            MESSAGING_URL: "https://{{ messaging_domain }}",
            MESSAGING_PUBLIC_KEY: "{{ messaging_public_key }}", # Public key to interact with protected service
            GAME_ASSETS_URL: "https://{{ game_assets_domain }}",
            ROOMS_URL: "https://{{ rooms_domain }}",
            ROOMS_PUBLIC_KEY: "{{ rooms_public_key }}", # Public key to interact with protected service
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
