# This playbook deploys the messaging app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "messaging",
        docker_env: {
            AUTH_URL: "https://{{ auth_domain }}",
            PRIVATE_KEY: "{{ private_key }}", # Private key to validate protected incoming requests
            PORT: "{{ external_port | int }}", # The port where to serve the app
            SERVICE: "messaging",
            ENV: "{{ env }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
