# This playbook deploys the solid-pancake app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "solid-pancake",
        docker_env: {
            PG_DATABASE: "{{ pg_database }}",
            PG_HOST: "{{ pg_host }}",
            PG_PORT: "{{ pg_port | string }}",
            PG_PASSWORD: "{{ pg_password }}",
            PG_USERNAME: "{{ pg_username }}",
            PORT: "{{ external_port | string }}",
            SOLID_PANCAKE_URL: "https://{{ domain }}",
            SERVICE: "solid-pancake",
            ENV: "{{ env }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
