# This playbook deploys the shop app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "shop",
        repository: "git@github.com:thefirstspine-org/shop.git",
        branch: "{{ lookup('ansible.builtin.env', 'BRANCH')|default('master', True) }}",
        git_ssh_key: "{{ git_ssh_key_template }}",
        docker_env: {
            PG_DATABASE: "{{ pg_database }}", # PostgreSQL database name
            PG_HOST: "{{ pg_host }}", # PostgreSQL database host
            PG_PORT: "{{ pg_port | string }}", # PostgreSQL database port
            PG_PASSWORD: "{{ pg_password }}", # PostgreSQL password
            PG_USERNAME: "{{ pg_username }}", # PostgreSQL username
            PRIVATE_KEY: "{{ private_key }}", # Private key to validate protected incoming requests
            PORT: "{{ external_port | string }}", # The port where to serve the app
            STRIPE_PRIVATE_KEY: "{{ stripe_private_key }}",
            STRIPE_PUBLIC_KEY: "{{ stripe_public_key }}",
            SERVICE: "shop",
            ENV: "{{ env }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
