# This playbook deploys the game-assets app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "game-assets",
        repository: "git@github.com:thefirstspine-org/game-assets.git",
        branch: "{{ lookup('ansible.builtin.env', 'BRANCH')|default('master', True) }}",
        git_ssh_key: "{{ git_ssh_key_template }}",
        docker_env: {
            PORT: "{{ external_port | string }}", # The port where to serve the app
            SERVICE: "game-assets",
            ENV: "{{ env }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
