# This playbook deploys the rooms app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "rooms",
        docker_env: {
            AUTH_URL: "https://{{ service_auth_domain }}",
            PG_DATABASE: "{{ pg_database }}", # PostgreSQL database name
            PG_HOST: "{{ pg_host }}", # PostgreSQL database host
            PG_PORT: "{{ pg_port | string }}", # PostgreSQL database port
            PG_PASSWORD: "{{ pg_password }}", # PostgreSQL password
            PG_USERNAME: "{{ pg_username }}", # PostgreSQL username
            PRIVATE_KEY: "{{ private_key }}", # The secret key used to sign JWT
            MESSAGING_PUBLIC_KEY: "{{ messaging_public_key }}",
            SUBJECTS: "{{ subjects }}",
            PORT: "{{ external_port | string }}", # The port where to serve the app
            SERVICE: "rooms",
            ENV: "{{ env }}",
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
