# This playbook deploys the arena app

- hosts: apps

  roles:
    - {
        role: "service",
        service_name: "arena",
        docker_env: {
            SERVICE: "arena",
            ENV: "{{ env }}",
            PORT: "{{ external_port | string }}", # The port where to serve the app
            STEAM_WEB_API_KEY: "{{ steam_web_api_key }}",
            REPOSITORIES: "{{ repositories }}",
            CAPPED_POWER: "{{ capped_power }}",
            LIMIT_CARDS: "{{ limit_cards }}",
            LIMIT_DECKS: "{{ limit_decks }}",
            MATCHES_URL: "https://{{ matches_domain }}",
            MATCHES_PUBLIC_KEY: "{{ matches_public_key }}",
            AUTH_URL: "https://{{ auth_domain }}",
            ROBOTS_URL: "https://{{ robots_domain }}",
            ROBOTS_PUBLIC_KEY: "{{ robots_public_key }}",
            MESSAGING_URL: "https://{{ messaging_domain }}",
            MESSAGING_PUBLIC_KEY: "{{ messaging_public_key }}",
            POSTGRESQL_DATABASE: "{{ pg_database }}", # PostgreSQL database name
            POSTGRESQL_HOST: "{{ pg_host }}", # PostgreSQL database host
            POSTGRESQL_PORT: "{{ pg_port | int }}", # PostgreSQL database port
            POSTGRESQL_USERNAME: "{{ pg_username }}", # PostgreSQL username
            POSTGRESQL_PASSWORD: "{{ pg_password }}", # PostgreSQL password
        },
        # Some parameters are commented as they are inherited in roles
        # registry: "{{ registry }}",
        # registry_username: "{{ registry_username }}",
        # registry_password: "{{ registry_password }}",
        # docker_image: "{{ docker_image }}",
        port_container: "{{ external_port | int }}",
        port_nginx: "{{ internal_port | int }}",
        # domain: "{{ domain }}",
        # cerbot_email: "{{ certbot_email }}",
      }
