# This playbook provision all the servers

# Remember to allow only trusted trafic (e.g. whitelisted IPs, internal network, etc.) in the
# databases servers. The MongoDB database does not provides password by default.

# Provision apps servers
- hosts: apps
  vars:
    certbot_auto_renew: false
  roles:
    - role: nginx
    - role: certbot
    - role: certbot-nginx
    - role: docker
    - role: betterstack
      collector_secret: "{{ betterstack_collector_secret }}"

# Provision database servers
- hosts: dbs
  roles:
    - docker
    - role: docker-pgsql
      password: "{{ docker_psql_password }}"
    - docker-mongodb
    - role: pgsql-database
      database: auth
      user: auth
      password: "{{ docker_psql_auth_password }}"
    - role: pgsql-database
      database: calendar
      user: calendar
      password: "{{ docker_psql_calendar_password }}"
    - role: pgsql-database
      database: rooms
      user: rooms
      password: "{{ docker_psql_rooms_password }}"
    - role: pgsql-database
      database: shop
      user: shop
      password: "{{ docker_psql_shop_password }}"
    - role: pgsql-database
      database: solid_pancake
      user: solid_pancake
      password: "{{ docker_psql_solid_pancake_password }}"
    - role: pgsql-database
      database: website
      user: website
      password: "{{ docker_psql_website_password }}"
    - role: pgsql-database
      database: arena
      user: arena
      password: "{{ docker_psql_arena_password }}"
    - role: pgsql-database
      database: cms
      user: cms
      password: "{{ docker_psql_cms_password }}"
    - role: betterstack
      collector_secret: "{{ betterstack_collector_secret }}"
