- name: Download Better Stack Collector
  command: curl -sSL https://raw.githubusercontent.com/BetterStackHQ/collector/main/install.sh | COLLECTOR_SECRET="{{ collector_secret }}" bash
- name: Restart Docker service
  command: systemctl restart docker
