- name: Download Better Stack Collector
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/BetterStackHQ/collector/main/install.sh"
    dest: /tmp/install_betterstack.sh
    mode: '0755'
    force: yes
- name: Install Better Stack Collector
  ansible.builtin.shell: COLLECTOR_SECRET="{{ collector_secret }}" bash /tmp/install_betterstack.sh
  args:
    chdir: /tmp
- name: Restart Docker service
  command: systemctl restart docker
