# See: https://stackoverflow.com/a/37096534/100134
- name: Ensure setfacl support is present.
  package: name=acl

- name: Ensure volume {{ volume_host | default('/tmp') }} directory exists.
  file:
    path: "{{ volume_host | default('/tmp') }}"
    state: directory

- name: Login to registry {{ registry | default('docker.io') }} with username {{ registry_username | default('') }}
  docker_login:
    registry_url: "{{ registry | default('https://index.docker.io/v1/') }}"
    username: "{{ registry_username | default('') }}"
    password: "{{ registry_password | default('') }}"

- name: Run image {{ registry | default('docker.io') }}/{{ docker_image | default(service_name) }} under container {{ service_name }}_container
  docker_container:
    name: "{{ service_name }}_container"
    image: "{{ registry | default('docker.io') }}/{{ docker_image | default(service_name) }}"
    env: "{{ docker_env }}"
    state: started
    recreate: true
    restart_policy: "always"
    volumes:
      - "{{ volume_host | default('/tmp') }}:{{ volume_container | default('/tmp') }}"
    published_ports:
      - "{{ port_nginx }}:{{ port_container }}"

- name: Register nginx block {{ domain }} to proxy through http://localhost:{{ port_nginx }}/
  copy:
    content: >
      server {
          listen 80;
          server_name {{ domain }};
          client_max_body_size 200M;
          location / {
              proxy_pass http://127.0.0.1:{{ port_nginx }}/;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
          location /socket {
              proxy_pass http://127.0.0.1:{{ port_nginx }}/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
      }
    dest: /etc/nginx/sites-enabled/{{ domain }}
    mode: 0600
    owner: www-data
    group: www-data

- name: Call certbot with email {{ cerbot_email }}
  command: "certbot --nginx --email {{ cerbot_email }} -d {{ domain }} --agree-tos --non-interactive --redirect"

- name: Restart nginx
  command: systemctl restart nginx.service

- name: Delete /var/www/{{ service_name }}
  file:
    path: /var/www/{{ service_name }}
    state: "absent"
